@charset "utf-8";
//@import "bulmaswatch/lux/_variables.scss";
@import "bulmaswatch/yeti/_variables.scss";

$blue: #42B4E4;

// Add a serif family
// $family-serif: "Merriweather",
// "Georgia",
// serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;

@import "bulma/bulma.sass";


@import "bulma-extensions/src/sass";
//@import "~bulma-extensions/src/sass/index.sass";
//@import 'bulma/sass/utilities/_all.sass'
//@import "bulmaswatch/lux/_overrides.scss";
@import "bulmaswatch/yeti/_overrides.scss";